.forgotPassword {
	width: 100vw;
	min-width: 100vw;
	height: 100vh;
	min-height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	position: relative;
}

.forgotPassword .emojiSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.forgotPassword .emojiSection img {
	margin: 0;
	padding: 0;
	width: 4.025rem;
	height: 4.025rem;
}

.forgotPassword .emojiSection p {
	margin-top: 0.92rem;
	font-size: 1.625rem;
	font-weight: regular;
	font-family: 'Playfair Display', serif;
	line-height: 1.625rem;
	letter-spacing: 0;
}

.formSection form .inputAndWarning {
	position: relative;
}

.formSection form .inputAndWarning .warning {
	position: absolute;
	font-size: 16px;
	color: red;
	font-weight: bold;
	top: 55px;
	left: 10px;
	text-align: center;
	display: none;
}

.formSection form {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.formSection form label {
	font-family: 'Playfair Display', serif;
	letter-spacing: 3px;
	line-height: 80px;
	font-size: 80px;
	font-weight: 200;
	text-align: center;
}

.formSection form {
	margin-top: 42px;
	margin-bottom: 52.5px;
	margin-left: 50px;
	display: flex;
	align-items: center;
	gap: 62.5px;
}

.formSection form .formInput {
	width: 630px;
	height: 49px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	border-radius: 360px;
	font-size: 18px;
	display: flex;
	align-items: center;
}

.formSection form .formInput input {
	border: none;
	height: 100%;
	width: 88%;
	margin: 0;
	/* margin-left: 15px; */
	font-size: 18px;
	/* width: 630px; */
}

.formSection form .formInput input:active,
.formSection form .formInput input:focus {
	outline: none;
}

.formSection form .formInput .icon {
	width: 50px;
	background-color: #f2f2f2;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	border-top-left-radius: 360px;
	border-bottom-left-radius: 360px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formSection form .forwardBtn {
	cursor: pointer;
	width: 80px;
	height: 80px;
	/* background-color: transparent; */
	border: 2px solid #ffffff;
	border-radius: 360px;
	margin: 0;
}

.formSection form .forwardBtn:hover {
	background-color: #34e1eb;
}

.formSection form .forwardBtn img {
	margin-left: -23px;
	margin-bottom: -2px;
}

.forgotPassword h2 {
	margin-top: 5.469rem;
	font-family: 'Playfair Display', serif;
	line-height: 5rem;
	font-size: 5rem;
	font-weight: regular;
	letter-spacing: 0;
}

.forgotPassword button {
	letter-spacing: 0.3rem;
	color: white;
	background: none;
	border: none;
	outline: none;
	margin-top: 2.5rem;
}

.forgotPassword button:hover {
	text-decoration: underline;
}

.footerLinks {
	position: absolute;
	bottom: 20px;
	margin: auto;
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footerLinks button {
	width: 92px;
	height: 31px;
	margin: 0;
}

.footerLinks button img {
	width: 92px;
	height: 31px;
}

.footerLinks button:hover {
	cursor: pointer;
}
