.mainSection {
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	/* min-height: 100vh;
	min-width: 100vh; */
	display: flex;
	position: absolute;
}

.midSection {
	width: 1267px;
	height: 100vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.planWeatherContainer {
	/* position: relative; */
	/* display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	min-height: 100vh;
	height: 100vh;
	width: 320px; */
}
