.resetPassword {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
}

.resetPassword h2 {
	margin: 2rem;
}

.resetPassword p {
	margin-bottom: 2rem;
}

.resetPassword form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 400px;
}

.resetPassword form input {
	display: flex;
	align-items: center;
	height: 2rem;
	padding-left: 1rem;
	border-radius: 2.5px;
}

.resetPassword form button {
	background: #037bfc;
	color: #ffffff;
	width: 100%;
	height: 2rem;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 2.5px;
}

.resetPassword form .warning {
	color: red;
	margin-bottom: -0.5rem;
	display: none;
	border: none;
}
